body {
  font-family: Arial, sans-serif;
}
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #343a40;
  padding-top: 20px;
  position: fixed;
}
.sidebar a {
  text-decoration: none;
/*  font-size: 18px;*/
  color: white;
  padding: 15px;
  display: block;
}
.sidebar a:hover {
  background-color: #495057;
}
.sidebar .active {
  background-color: #007bff;
}
.content {
  margin-left: 250px;
  padding: 20px;
}
.navbar {
  margin-left: 250px;
}
@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .content {
    margin-left: 0;
  }
  .navbar {
    margin-left: 0;
  }
}
.preview-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.preview-image {
  position: relative;
  margin-right: 10px;
  text-align: center;
  align-content: center;
  background-color: antiquewhite;
  width: 150px;
  height: 320px;
}
.preview-image img {
  max-width: 150px;
  max-height: 320px;
}
.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  font-size: 12px;
}